DB_URL=r2dbc:postgresql://localhost:5433/mensageria_db
DB_JDBC_URL=jdbc:postgresql://localhost:5433/mensageria_db
DB_USERNAME=
DB_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
